body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 12px;
}

@media only screen and (max-device-width : 800px) {
  body {
    font-size: 11px;
  }
}

@media only screen and (max-device-width : 568px) {
  body {
    font-size: 10px;
  }
}

*:focus {
    outline: none;
}
