/* Common */
h1 {
  font-size: 5.0em;
  font-weight: lighter;
}

h2 {
  font-size: 4.0em;
  font-weight: lighter;
}

h3 {
  font-size: 3.0em;
  font-weight: lighter;
}

h4 {
  font-size: 2.0em;
  font-weight: lighter;
}

h5 {
  font-size: 1.8em;
  font-weight: lighter;
}

blockquote {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: "Raleway";
}

input {
  font-size: 1.0em;
}

small {
  font-size: 0.75em;
}

a, a:visited, a:active {
  color: #287eff;
  text-decoration: none;
}

.title-less-margin {
  margin-bottom: 0;
}

/* Header */

h2 {
  margin: 20px 0;
}

.header-background {
  background-color: #287eff;
  width: 100vw;
  height: 100vh;
}

.header {
  padding: 20px;
  color: white;
  text-align: center;
}

.header-picture {
  height: 160px;
  border-radius: 80px;
  margin-top: 50px;
}

.header-arrow-container {
  position: absolute;
  bottom: 0;
  margin-left: -35px;  /* .header-arrow.width / 2 */
}

.header-arrow {
  width: 70px;
}

/* Navbar */

.navbar-links {
  text-align: right;
}

.navbar-links ul {
  display: inline;
}

.navbar-links li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.navbar-links li img {
  vertical-align: middle;
}

.link-icon {
  width: 20px;
}

.link-icon.link-icon-email {
  width: 30px;
}

/* Main content */

.content {
  text-align: justify;
  min-height: 100vh;
}

/* Tabs */

.tab-list {
  padding: 0;
  background-color: #287eff;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.tab-list .tab-link {
  list-style: none;
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  color: #ffffff;
  background-color: #287eff;
  margin: auto;
  font-size: 1.4em;
}

.tab-list .tab-link.tab-link--selected, .tab-list .tab-link:hover {
  background-color: #ffffff;
  color: #287eff;
}

.tab-list--fixed {
  position: fixed;
  top: 0;
}

.react-tabs {
  min-height: 95vh;
}

.react-tabs__tab-panel {
  margin: 0 20% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-tabs__tab-panel--selected {
  min-height: 90vh;
  margin-top: 68px;
}

.tab-list .tab-link.tab-link--image {
  padding: 0 10px;
  vertical-align: middle;
  cursor: default;
}

.tab-list .tab-link.tab-link--image:hover {
  color: #ffffff;
  background-color: #287eff;
}

.tab-link-picture {
  height: 20px;
  border-radius: 10px;
}

/* Work section */
p.stack {
  font-style: italic;
  font-size: 1.2em;
}

span.emphasis {
  color: #287eff;
}
