/* Header */

h2 {
  font-size: 1.7em;
}

.header {
  background-color: #287eff;
  padding: 20px;
  color: white;
  text-align: center;
}

.header-picture {
  height: 200px;
  border-radius: 100px;
}

/* Header links */

.links {
  text-align: right;
}

.links ul {
  display: inline;
}

.links li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.links li img {
  vertical-align: middle;
}

.link-icon {
  width: 20px;
}

.link-icon.link-icon-email {
  width: 30px;
}

/* Intro */

.intro {
  font-size: 1em;
}

/* Main content */

.content {
  margin: 1% 20% 1%;
  text-align: justify;
}

/* Tabs */

.tab-list {
  text-align: center;
  padding: 0;
}

.tab-list .tab-link {
  list-style: none;
  display: inline-block;
  border: 1px solid #287eff;
  padding: 6px;
  cursor: pointer;
  color: #287eff;
  background-color: #ffffff;
  margin: auto;
}

.tab-list .tab-link:first-child {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.tab-list .tab-link:last-child {
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.tab-list .tab-link:hover {
  background-color: #287eff;
  color: #ffffff;
}

.tab-list .tab-link.tab-link--selected {
  background-color: #287eff;
  color: #ffffff;
}
