/* Font-size */
h1 {
  font-size: 5.0em;
  font-weight: lighter;
}

h2 {
  font-size: 4.0em;
  font-weight: lighter;
}

h3 {
  font-size: 3.0em;
  font-weight: lighter;
}

h4 {
  font-size: 2.0em;
  font-weight: lighter;
}

blockquote {
  font-size: 1.5em;
}

p {
  font-size: 1.25em;
  font-family: "Raleway";
}

input {
  font-size: 1.0em;
}

small {
  font-size: 0.75em;
}


/* Header */

.header {
  background-color: #287eff;
  padding: 20px;
  color: white;
  text-align: center;
}

.header-picture {
  height: 160px;
  border-radius: 80px;
}

/* Header links */

.links {
  text-align: right;
}

.links ul {
  display: inline;
}

.links li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.links li img {
  vertical-align: middle;
}

.link-icon {
  width: 20px;
}

.link-icon.link-icon-email {
  width: 30px;
}

/* Intro */

.intro {
  margin: 2em 0;
}

/* Main content */

.content {
  margin: 1% 20% 1%;
  text-align: justify;
}

/* Tabs */

.tab-list {
  text-align: center;
  padding: 0;
}

.tab-list .tab-link {
  list-style: none;
  display: inline-block;
  border: 1px solid #287eff;
  padding: 10px 30px;
  cursor: pointer;
  color: #287eff;
  background-color: #ffffff;
  margin: auto;
}

.tab-list .tab-link:first-child {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.tab-list .tab-link:last-child {
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.tab-list .tab-link:hover {
  background-color: #287eff;
  color: #ffffff;
}

.tab-list .tab-link.tab-link--selected {
  background-color: #287eff;
  color: #ffffff;
}
